<div style='background-color: #80d3ff87;' class="container shadow">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Pедактировать</h1>
      <%= render 'form', participation: @participation %>
      <%= link_to 'Посмотреть', @participation, class: "btn btn-light min-width-btn" %> |
      <%= link_to 'назад', participations_path, class: "btn btn-light min-width-btn" %>
    </div>
  </div>
</div>
