  <div class='row'>
    <div class='col-sm-6'>
      <%= render 'homes_by_type', homes: @hotel_homes, hotel: true %>
    </div>
    <div class='col-sm-6'>
      <%= render 'homes_by_type', homes: @hostel_homes %>
    </div>
  </div>
