<div id="<%= dom_id expenditure %>">
  <p>
    <strong>Comment:</strong>
    <%= expenditure.comment %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= expenditure.price %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= expenditure.type %>
  </p>

</div>
