<div id="<%= dom_id top_up %>">
  <p>
    <strong>Booking:</strong>
    <%= top_up.booking_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= top_up.price %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= top_up.comment %>
  </p>

</div>
