<div style='background-color: #80d3ff87;' class="container shadow">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Pедактировать</h1>
      <%= render 'form', top_up: @top_up %>
      <%= link_to 'Посмотреть', @top_up, class: "btn btn-light min-width-btn" %> |
      <%= link_to 'назад', top_ups_path, class: "btn btn-light min-width-btn" %>
    </div>
  </div>
</div>
