@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/datepicker";
@import "jquery-ui";
@import "jquery-ui/core";
@import "jquery-ui/theme";

.styled-delete-button{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
